@model UmeedPieShop.Models.Pie

<h4 class="center display-6">@Model.ShortDescription</h4>

<div class="thumbnail">

    <img alt="@Model.Name" src="@Model.ImageUrl" width="900" hight="900" class="center sstyle rounded">
    <div class="caption-full paddingg">
        <h3 class="pull-right">Rs.@Model.Price</h3>
        <h3>
            <p class="display-5">@Model.Name</p>
        </h3>
        <p>@Model.LongDescription</p>
        <a asp-controller="Pie" asp-action="List" asp-route-id="@Model.CategoryId">View more in this catagory.</a>

        <br>
        <br>
        <div>
            <p class="button">
                <a class="btn buttonn btn-danger" asp-controller="Pie" asp-action="Details" asp-route-pieId="@Model.PieId">Add to cart</a>
                <a class="btn buttonn btn-danger spacing" asp-controller="Pie" asp-action="List" asp-route-id="0">Back to List</a>
                <a class="btn buttonn btn-danger" asp-controller="Pie" asp-action="EditPie" asp-route-id="@Model?.PieId">Edit</a>
                <a class="btn buttonn btn-danger spacing" asp-controller="Pie" asp-action="DeletePie" asp-route-id="@Model?.PieId">Delete</a>
            </p>
        </div>
    </div>
</div>
