@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h5>Here are the delicious pies in your shopping cart.</h5>
<br>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Selected amount</th>
            <th>Pie</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.CartItems)
    {
        <tr>
            <td class="text-center">
                <h4>
                <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@line.Pie.PieId"> + </a>
                @line.Amount
                <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pieId="@line.Pie.PieId"> - </a>
                </h4>
            </td>
            <td>@line.Pie.Name</td>
            <td>@line.Pie.Price.ToString("c")</td>
            <td>
                @((line.Amount * line.Pie.Price).ToString("c"))
            </td>
        </tr>
    }
    </tbody>
</table>

<br>
<div class="text-center">
    <h4> Total Amount: @Model.ShoppingCartTotal.ToString("c") </h4>
</div>
<br>

<div class="text-center">
    <a class="btn buttonn btn-secondary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    <a class="btn buttonn btn-secondary" asp-controller="ShoppingCart" asp-action="Clear">Clear Cart</a>
</div>