@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h5>Here are the delicious pies in your shopping cart.</h5>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Remove</th>
            <th>Pie</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.CartItems)
    {
        <tr>
            <td class="text-center" >@line.Amount</td>
            <td> 
                <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pieId="@line.Pie.PieId">Remove</a>
            </td>
            <td>@line.Pie.Name</td>
            <td>@line.Pie.Price.ToString("c")</td>
            <td>
                @((line.Amount * line.Pie.Price).ToString("c"))
            </td>
        </tr>
    }
    </tbody>
</table>

<br>
<div class="text-center">
    <h4> Total Amount: @Model.ShoppingCartTotal.ToString("c") </h4>
</div>
<br>

<div class="text-center">
    <a class="btn buttonn btn-secondary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    <a class="btn buttonn btn-secondary" asp-controller="ShoppingCart" asp-action="Clear">Clear Cart</a>
</div>