@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h5>Here are the delicious pies in your shopping cart.</h5>
<br>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Delete Item</th>
            <th>Pie</th>
            <th>Price</th>
            <th class="text-center">Selected Amount</th>
            <th>SubTotal</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.CartItems)
    {
        <tr>
            <td class="text-center"><a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="RemoveAtOnceCart" asp-route-pieId="@line.Pie.PieId">Remove</a></td>
            <td>@line.Pie.Name</td>
            @*<a asp-controller="Pie" asp-action="Detail" asp-route-id="@line.Pie.PieId">*@
            <td>Rs.@line.Pie.Price</td>
            <td class="text-center">
                <h4>
                <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@line.Pie.PieId"> + </a>
                @line.Amount
                <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pieId="@line.Pie.PieId"> - </a>
                </h4>
            </td>
            <td>
                Rs.@((line.Amount * line.Pie.Price))
            </td>
        </tr>
    }
    </tbody>
</table>

<br>
<div class="text-center">
    <h4> Total Amount: Rs.@Model.ShoppingCartTotal </h4>
</div>
<br>

<div class="text-center">
    <a class="btn buttonn btn-secondary" asp-controller="Pie" asp-action="ListMini">Back To List</a>

    @if(!(Model.ShoppingCartTotal==0))
    {
        <a class="btn buttonn btn-secondary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
        <a class="btn buttonn btn-secondary" asp-controller="ShoppingCart" asp-action="Clear">Clear Cart</a>
    }
    
</div>
